<h2>
	Student Test Scores
	<button (click)="addTestScore()" type="button" class="btn btn-success">
		Add new test score
	</button>
</h2>
<div class="row summary">
	<div class="col-xs-12 flex">
		<div> 
			<strong>Summary:</strong>
		</div>
		<div>
			Min: {{ getMin() }}
		</div>
		<div>
			Max: {{ getMax() }}
		</div>
		<div>
			Avg: {{ getAvg() }}
		</div>
	</div>
</div>
<div *ngIf="testScores">
	<div class="row" *ngFor="let testScore of testScores">
		<test-score-detail class="col-xs-12" [testScore]="testScore"></test-score-detail>
	</div>
</div>
