<div ngForm #testScoreForm="ngForm" class="form-inline flex" [ngClass]="{'alert-danger': testScore.score < 65}">
	<div class="form-group" ngModelGroup="student">
		<label for="firstName">
			First Name
		</label>
		<input [(ngModel)]="testScore.student.firstName" type="text" class="form-control" name="firstName" required />
	</div>
	<div class="form-group" ngModelGroup="student">
		<label for="lastName">
			Last Name
		</label>
		<input [(ngModel)]="testScore.student.lastName" type="text" class="form-control" name="lastName" required />
	</div>
	<div class="form-group">
		<label for="score">
			Score
		</label>
		<input [(ngModel)]="testScore.score" type="number" class="form-control" name="score" required />
	</div>
	<button (click)="saveTestScore(testScoreForm)" type="button" class="btn btn-success" [disabled]="!testScoreForm.form.valid || testScoreForm.pristine">
		Save
	</button>
	<button (click)="deleteTestScore()" type="button" class="btn btn-danger">
		Delete
	</button>
</div>
