h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.flex {
	display: flex;
}

.flex > * {
    flex-grow: 1;
}

.row {
	margin-bottom: 15px;
}

.summary {
	font-size: 1.4em;
	margin-bottom: 30px;
	border-bottom:1px solid #ccc;
	padding-bottom:5px;
}

input.ng-valid {
	border-left: 5px solid green;
}

input.ng-invalid {
	border-left: 5px solid red;
}
